<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/test.css">
  <link rel="stylesheet" href="/css/post.css">
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
  
  <!-- <link rel="stylesheet" href="style/bootstrap.min.css"> -->
  <!-- <script src="js/vue.min.js"></script> -->
  <title> <%= blog.title %></title>
</head>

<body>
  <div id = "web_bg" ></div>